<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>529972828837-09870pl00lsnrnfn91a096kak2oed4p9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529972828837-09870pl00lsnrnfn91a096kak2oed4p9</string>
	<key>API_KEY</key>
	<string>AIzaSyBzKEecu1QkJ1810bl2XY7th8xhTIIwwU0</string>
	<key>GCM_SENDER_ID</key>
	<string>529972828837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rmit.LocationBasedReminder</string>
	<key>PROJECT_ID</key>
	<string>location-based-reminder-6d2f3</string>
	<key>STORAGE_BUCKET</key>
	<string>location-based-reminder-6d2f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529972828837:ios:f281b1e25a95c385</string>
	<key>DATABASE_URL</key>
	<string>https://location-based-reminder-6d2f3.firebaseio.com</string>
</dict>
</plist>